.env
*.env
.[c][l][a][u][d][e]/
.[c][o][d][e][x]/
.[g][r][o][k]/
[C][L][A][U][D][E].md
[C][L][A][U][D][E].local.md
[C][O][D][E][X].md
[C][O][D][E][X].local.md
[G][R][O][K].md
[G][R][O][K].local.md
[A][G][E][N][T][S].md
[A][G][E][N][T][S].local.md
[a][g][e][n][t][s].md
[a][g][e][n][t][s].local.md
data/
dist/
build/
target/
node_modules/
tmp/
upstream/
*.sqlite
*.sqlite3
*.db
*.log
local/
PRIVATE.md
*.private.md
